header {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    padding: 10px;
}

.section{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.grup {
    display: flex;
    align-self: center;
    margin-top: 0.2rem;
}

.footer {
    margin-top: 10vh;
    text-align: center;
}